<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Barcode</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="scannerService.scanSingleBarcode()">
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Text recognition</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="face-detection" href="/tabs/face-detection">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Face detection</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
